body {
  min-height: 100dvh;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: clip;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0,1fr) auto;
}

.container {
  width: 100%;
  max-width: var(--app-container-max-width);
  margin-inline: auto;
  padding-inline: var(--app-padding-inline);
}
