---

---

<footer class="">
  <div class="container">
    <div style="padding-block: 1rem; border-top: 1px solid black;">
      footer here
    </div>
  </div>
</footer>

<style lang="scss">
  // footer styles here
</style>
