---

---
<header class="">
  <div class="container">
    <div style="padding-block: 1rem; border-bottom: 1px solid black;">
      <h1>New Astro project</h1>
    </div>
  </div>
</header>

<style lang="scss">
  // header styles here
</style>
