---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Astro new project">
  <div class="container">
    <h3>Hello astronaut!</h3>
    <i>Check out <code style="font-weight: bolder;">README.md</code> file</i>
  </div>
</BaseLayout>
